html>body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-image: url('../images/background.svg');
    background-size: cover;
    background-attachment: fixed;
}

body {
    width: auto;
    margin: 4rem auto;
}
div {
	padding: 0px;
    font-size: 100%;
	font: inherit;
}

.TOP{
    background-color: white;
    box-shadow: 0px 8px 11px -5px rgba(0,0,0,0.45);
    position: sticky;
    top: 0;
}
.banner {
    width: 900px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
span {
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
img {
    margin: 10px 0;
}

.CV {
    width: 900px;
    margin: 0 auto 0 auto;
    display: flex;
    box-shadow: 0px 0px 11px 2px rgba(0,0,0,0.45);
    border-radius: 10px;
    overflow: hidden;
}
.left {
    width: 30%;
    margin: 0 auto;
    float: left;
    background-color: #DEDEDE;

}

.right {
    width: 70%;
    margin: 0 auto;
    float: left;
    background-color: white;
}
.left, .left .sectl{
    box-shadow: inset -11px 0px 11px -5px rgba(0,0,0,0.45);
}

.DP{
    width: 100%;
    height: 270px;
    margin: 0;
    background-image: url(images/profile.png);
    background-size: cover;
    box-shadow: inset -11px 0px 11px -5px rgba(0,0,0,0.45);
    background-position: center top;
}
.getval {
    display: none;
}

.DP:hover .getval {
    color: white;
    display: block;
    position: relative;
    top: 245px;

}

.CV p, .CV a {
    font-size: 14px;
    margin: 5px 20px;
    text-align: justify;
    line-height: 1.8;
}

.info {
    margin-right: 20px;
}
.info p{
    margin: 0 20px;
    text-align: left;
    line-height: 1.8;
}
.left .Des {
    font-size: 20px;
    margin-top: 0;
    text-align: left;
}

.sectr {
    font-size: 115%;
    font-weight: bold;
    margin: 10px 20px ;
    padding: 5px 0px;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
}
h1 {
    font-size: 35px;
    color: rgb(56, 56, 56);
    margin: 13px 20px 3px 20px;

}
.sectl {
    font-size: 105%;
    background-color: #C1C1C1;
    padding: 8px 20px;
}
.containor {
    display: flex;
}
h3 {
    margin: 5px 20px;
    font-size: 100%;
}
.rhead {
    font-size: 14px;
    margin: 5px 20px;
    font-style: italic;
}
.rleft {
    float: left;
    flex-shrink: 0;
    width: 100px;
}

.rright {
    float: right;
    width: 600px;
}

.rrhead {
    font-weight: bold;
}
ul {
    padding: 0;
    margin: 5px 40px;
}
li {
    font-size: 14px;
    text-align: justify;
    line-height: 1.8;
    margin: 5px 20px;
}
.lhead {
    font-weight: bold;
    padding-top: 4px;
}
.bar, .progress {
    margin: 5px 20px 20px 20px;
    width: calc(100% - 50px);
    height: 9px;
    background-color: rgb(158, 158, 158);
    border-radius: .25rem;
}
.progress {
    margin-left: 0;
    width: calc(var(--index, 1));
    background-color: white;
}
a:hover {
    color: green;
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {
    html {
      background-attachment: scroll;
    }
  }

.dark *{
    background-color: #161625;
    color: #6C757D;

}
body[class*="dark"] [class="bar"] {
    margin: 5px 20px 20px 20px;
    width: calc(100% - 50px);
    height: 9px;
    background-color: rgb(129, 128, 128);
}
body[class*="dark"] [class="progress"]{
    margin-left: 0;
    width: calc(var(--index, 1));
    background-color: #2d2d4d;
}
@media print {

    .TOP * {
      visibility: hidden;
    }
  }
  
  /* h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
   */
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #363636;;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .input-group-append {
    width: 136px;
  }

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#00154f;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 10px 28px rgb(95, 95, 95);
}
.rright table {
  width:92%;
  font-size: 14px;
  margin-left:20px;
}
.rright td {
  padding-left: 5px;
}
span{
  padding: 0;
}