body {
    background: linear-gradient(120deg, rgb(132, 250, 176) 0%, rgb(143, 211, 244) 100%)fixed;
    color: #333333;
    margin-top: 5rem;
  }
  
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.input-group-append {
  width: 136px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 77px;
  height: 29px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ab934;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 29px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ca2222;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(46px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
content:'SI';
color: white;
display: block;
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 65%;
/* font-size: 10px; */
font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'US';
  left: 35%;
}
.btn-circle.btn-sm { 
  width: 30px; 
  height: 30px;
  padding: 3px 4px;  
  border-radius: 15px; 
  font-size: 15px;
  font-weight: bold; 
} 
.red-f{
  color: red;
}

